.searchBar {
	width: 100%;
	background-color: #01040e;
	border: 2px solid var(--color-slate-900);
	border-radius: 5px;
	color: var(--color-white);
	padding: 8px 12px;
}

.searchBar:focus {
	outline: 2px solid var(--color-slate-300);
	border: 2px solid var(--color-slate-300);
}
